.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #8c65ff;
    margin-bottom: 32px;
}

.nav-title {
    margin: 0;
    padding-left: 16px;
}

.nav-links {
    display: flex;
    gap: 32px;
}

.nav-menu a {
    text-decoration: none;
    color: #000000;
    padding: 8px 16px;
    border-radius: 4px;
}

.nav-menu a:hover {
    background-color: #b89eff;
}